<p id="notice"><%= notice %></p>

<p>
  <b>Day:</b>
  <%= @plan.day %>
</p>

<p>
  <b>Meal</b>
  <%= @plan.meal.name %>
</p>


<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>

